{% extends 'appbomba/base.html' %}

{% load static %}

{% block contenido %}
<!-- ICONO -->
<div style="text-align: center;"><img src="{% static 'appbomba/imgs/Logo6-removebg-preview.png'%}" alt=""></div>

<!-- Historia -->
<section class="w-50 mx-auto text-center pt-5 " id="historia">
<h1 class="p-3 fs-2 border-top border-3">La Sexta Compañía tuvo origen en el año 1980 cuando Pudahuel fue sacudido una vez mas por un gran incendio en la calle santa cecilia y otro incendio de proporciones catastróficas en el entonces campamento las viñitas en donde se quemaron aproximadamente 40 casas <span class="text-primary"></span></h1>
<p class="p-3 fs-4"><span class="text-primary"></span>Fue entonces en que un grupo de vecinos reunidos en distintas partes de la comuna dio comienzo a la dura tarea de la formación de una nueva unidad bomberil, formados en aquel entonces por el cuerpo de bomberos de santiago.
</p>
</section>

<!-- Escalas -->
<div style="text-align: center;"><img src="{% static 'appbomba/imgs/escalera-de-contorno-delgado.png'%}" alt=""></div>
<section class="w-50 mx-auto text-center pt-5 " id="Escalas">
<h1 class="p-3 fs-2 border-top border-3">La Sexta Compañía mantiene la especialidad de Escalas, la cual se requiere completamente en la extinción de incendios para poder crear ventilaciones así pudiendo realizar la remoción de gases calientes  <span class="text-primary"></span></h1>
<p class="p-3 fs-4"><span class="text-primary"></span> Para esto la sexta Compañía mantiene un carro denominado Q6, con la especialidad de rescate y porta escala, marca Spartan modelo Metrostar 2017, entrando en servicio el día 26 de Agosto del mismo año.
</p>
</section>

<!-- Rescate -->
<div style="text-align: center;"><img src="{% static 'appbomba/imgs/camilla.png'%}" alt=""></div>
<section class="w-50 mx-auto text-center pt-5 " id="Rescate">
<h1 class="p-3 fs-2 border-top border-3">La Sexta Compañía además mantiene la especialidad de Rescate, el cual se puede desglosar en rescate con cuerdas (Rescate Vertical), Rescate Vehicular, Rescate en cerros (Rescate Agreste) y Rescates en general  <span class="text-primary"></span></h1>
<p class="p-3 fs-4"><span class="text-primary"></span> Para esto la sexta Compañía mantiene el carro Q6 y además un carro denominado M6 escalera mecánica con una extensión de 32 metros marca, Iveco – Magirus modelo Euro Cargo 160E30 ingresada el día 22 de febrero del 2014.
</p>
</section>

<!-- Agua -->
<div style="text-align: center;"><img src="{% static 'appbomba/imgs/gota-de-agua.png'%}" alt=""></div>
<section class="w-50 mx-auto text-center pt-5 " id="Agua">
<h1 class="p-3 fs-2 border-top border-3">Para finalizar la Sexta Compañía además mantiene la especialidad de Agua, la cual se necesita en cualquier emergencia que requiera la utilización de agua. <span class="text-primary"></span></h1>
<p class="p-3 fs-4"><span class="text-primary"></span> Para esto la sexta Compañía mantiene un carro Bomba denominado B6 marca MAN modelo TGM 18.340,con un estanque el cual tiene una totalidad de 4500 litros de agua y fue puesto en servicio el día 10 de enero de 2020
</p>
</section>
{% endblock %}